@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --custom-bg: #ffffff;
  --custom-text: #171717;
  --custom-button: #2563eb;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--custom-bg);
  color: var(--custom-text);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-bg {
  background-color: var(--custom-bg) !important;
}

.custom-text {
  color: var(--custom-text) !important;
}

.custom-button {
  background-color: var(--custom-button) !important;
  border-color: var(--custom-button) !important;
}
